container {
    display: flex;
    justify-content: center;
}
#confirmCancel {
    display: flex;
    flex-direction: row-reverse;
}
input.btn {
    margin: 2px 5px;
}
input.has-error, textarea.has-error {
    border: 1px solid rgb(177, 36, 36)
}
input.has-success, textarea.has-success {
    border: 1px solid rgb(20, 114, 20);
}